.dropbtn{
    background-color: rgb(0, 255, 136);
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown{
    position: relative;
    display: inline-block;
}

.dropdown-content {
display: none;
position: absolute;
background-color: white;
min-width: 160px;
box-shadow: 0px 8px 16x 0px rgb(0, 255, 157);
z-index: 1;
}

.dropdown-cpntent a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: white;}

.dropdown :hover .dropdown-content {
    display:block;
}

.dropdown :hover .dropbtn{
background-color: rgb(58, 58, 85);
}
